@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --pirate-gold: #bb9645;
  --pirate-blue: #242439;
  --pirate-txt: #58585f;
  --pirate-dark-txt: #47474d;
  --pirate-darker-txt: #2f2f39;

  --pirate-g-1: linear-gradient(180deg, rgb(32 32 49) 0%, rgb(44 44 71 / 49%) 50%, rgb(32 32 49 / 53%) 100%);
  --pirate-bs-1: 3px 3px 6px #00000036;
}

* {
  transition:
  scale 0.1s ease-in-out,
  transform 0.1s ease-in-out,
  color 0.2s ease-in-out,
  background 0.2s ease,
  filter 0.2s ease;
}
.pirate-pannel *,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  overflow: hidden;
  min-width: 300px;
}

body {
  display: block;
  font-family: "Roboto", "Arial Condensed", Arial;
  background: #000 url(../img/PCPCB-P-ms.webp) no-repeat fixed;
  background-size: cover;
  opacity: 0;
}
a {
  color: var(--pirate-darker-txt);
  &:hover {
    color: var(--pirate-gold);
  }
}
input:focus,
input:focus-visible,
input:active {
  outline-color: #6464ad !important;
  box-shadow: 0 0 6px #4d4d85 !important;
  color: #bb9645 !important;
  border: none !important;
}

h3 {
  margin: 0;
  margin-top: 1rem;
  color: var(--pirate-txt);
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}
