@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --pirate-gold: #bb9645;
    --pirate-blue: #242439;
    --pirate-dark-txt: #47474d;
}

* {
    transition: color 0.2s ease-in-out, background 0.2s ease;
}

html {
    overflow: hidden;
    min-width: 300px;
}

body {
    font-family: "Roboto", "Arial Condensed", Arial;
    margin: 0;
    background: #000 url(img/pcpcba.jpg) no-repeat fixed;
    background-size: cover;
    backdrop-filter: blur(7px);
    overflow: hidden;
}

input:focus,
input:focus-visible,
input:active {
    outline-color: #6464ad !important;
    box-shadow: 0 0 6px #4d4d85;
    color: #bb9645 !important;
}

h3 {
    margin: 0.3rem;
    color: #47474d;
}

p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.wrapper {
    background: rgb(0 0 0 / 15%);
    width: 100%;
}

#container {
    display: inline;
    margin: 0 auto;
    text-align: center;
}

.ARRRcontrols {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    max-width: 14rem;
    background: rgb(22 22 30);
    height: 100%;
    overflow: hidden;
    padding: 2rem;
    font-family: arial;
    color: #fff;
    font-size: 1rem;
    text-align: left;
}

.pirateForm {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-family: arial;
}

#textInput {
    min-width: 9rem;
    border: none;
    outline: 1px solid var(--pirate-gold);
    background: #1e1e26;
    border-radius: 0.21em;
    color: var(--pirate-dark-txt);
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 0.4rem 0.4rem 1rem;
}

.selection-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    text-align: left;
}

.view-selection {
    padding: 1rem 0.5rem;
    background: #24243a;
    color: #bb9645;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    width: 40%;
    text-align: center;

    &:hover {
        color: #24243a;
        background: #bb9645;
        cursor: pointer;
    }
}

.pirate-img {
    max-width: 200px;
}

.colourInfo h3 {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
}

.all-colour-pickers {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1rem;
}

.pc-colour-picker {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0.4rem 0.8rem;
    background: #1e1e26;
    border-radius: 0.2rem;
}

.pc-colour-picker input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 2.8rem;
    height: 2.8rem;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.pc-colour-picker input::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.15rem solid var(--pirate-gold);
}

.pc-colour-picker input::-moz-color-swatch {
    border-radius: 50%;
    border: 0.15rem solid var(--pirate-gold);
}

.selected-colour {
    /* padding: 0.2rem 1rem;
  padding-top: 0.37rem;
  background: #1e1e26;
  border: 1px solid var(--pirate-dark-txt);
  border-radius: 0.2rem;*/
    font-size: 0.8rem;
    color: var(--pirate-gold);
}

.pc-note {
    color: var(--pirate-dark-txt);
    font-weight: 100;
    font-size: 0.8rem;
    max-width: max-content;
    text-align: left;
    background: rgb(55 55 61 / 26%);
    border-radius: 0.2rem;
    padding: 1rem;
    padding-bottom: 0.5rem;

    &:hover {
        color: #999;
    }
}

canvas {
    display: block;
}

@media only screen and (max-width: 800px) {
    .pirate-pannel {
        display: none;
    }
}