@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --pirate-gold: #bb9645;
  --pirate-blue: #242439;
  --pirate-txt: #58585f;
  --pirate-dark-txt: #47474d;
  --pirate-darker-txt: #2f2f39;
}

* {
  transition: color 0.2s ease-in-out, background 0.2s ease, filter 0.2s ease;
}
.pirate-pannel *,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  overflow: hidden;
  min-width: 300px;
}

body {
  display: block;
  font-family: "Roboto", "Arial Condensed", Arial;
  background: #000 url(../img/PCPCB-P-ms.webp) no-repeat fixed;
  background-size: cover;
  opacity: 0;
}
a {
  color: var(--pirate-darker-txt);
  &:hover {
    color: var(--pirate-gold);
  }
}
input:focus,
input:focus-visible,
input:active {
  outline-color: #6464ad !important;
  box-shadow: 0 0 6px #4d4d85 !important;
  color: #bb9645 !important;
  border: none !important;
}

h3 {
  margin: 0;
  margin-top: 1rem;
  color: var(--pirate-txt);
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 15%);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

#container {
  display: flex;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border: 1rem solid rgb(22 22 30);
  height: calc(100dvh + -2rem);
  z-index: 2;
  /* pointer-events: none; */
}

.angled-note {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1.5rem;
  left: calc(100% + 1.5rem);
  width: 18rem;
  height: 6rem;
  background: rgb(22, 22, 30);
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0 100%;
  z-index: 3;
}
.angled-note a {
  position: relative;
  top: -0.85rem;
  color: var(--pirate-gold);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
/*
.angled-note:hover {
  background: var(--pirate-gold);
  & a {
    color: rgb(22, 22, 30);
  }
}
*/
canvas {
  width: 100% !important;
  height: 100% !important;
}
.pirate-pannel {
  overflow-y: auto;
  overflow-x: hidden;
  width: 18%;
  height: 100dvh;
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  background: rgb(22 22 30);
  z-index: 3;
}
.ARRRcontrols {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem;
  padding-bottom: 0.2rem;
  font-family: arial;
  color: #fff;
  font-size: 1rem;
  text-align: left;
  height: 100%;
}
.ARRRcontrols > div:last-child {
  margin-top: auto;
}
.pc-app-logo-area {
  margin-bottom: 1rem;
}
.pc-app-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.7rem;
}
.pirate-img {
  max-width: 68%;
}
.pc-app-logo-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #16161e;
  background: #bb9645;
  height: 3rem;
  padding: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.4rem;
  margin-left: 1rem;
  top: -0.1rem;
  font-family: roboto;
  font-weight: 300;
  font-size: 2.7rem;
  letter-spacing: -3px;
  border-radius: 0.2rem;
  transform: rotate(-30deg);
}
.pc-tagline {
  display: flex;
  font-size: 1rem;
  color: #857552;
  background: #1e1e26;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  border-radius: 0.2rem;
}
.pirateForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 600;
  font-family: arial;
}

#textInput {
  min-width: 9rem;
  width: 100%;
  border: none;
  outline: 1px solid transparent;
  background: #1e1e26;
  border-radius: 0.21em;
  color: var(--pirate-txt);
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0.4rem 0.4rem 1rem;
}

.selection-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  text-align: left;
}

.view-selection {
  padding: clamp(0.5rem, 1.8dvh, 2rem) 0.2rem;
  background: #24243a;
  color: #bb9645;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  &:hover {
    color: #24243a;
    background: #bb9645;
    cursor: pointer;
  }
}
.theme-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.default-theme-buttons {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
}
#blackTheme,
#goldTheme {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  &:hover {
    transform: scale(1.1);
  }
}
#goldTheme {
  background: var(--pirate-gold);
  border: 0.1rem solid #555;
}
#blackTheme {
  background: var(--pirate-blue);
  border: 0.1rem solid #bb9645;
}
.theme-actions {
  display: flex;
}
button#copy {
  padding: 0.2rem 0.4rem;
  background: #1e1e26;
  color: var(--pirate-txt);
  border: none;
  border-radius: 0.1rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #ffbc81;
  }
}

.all-colour-pickers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.pc-colour-picker {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background: #1e1e26;
  border-radius: 0.2rem;
  width: 100%;
  border: 1px solid #333;
}

.pc-colour-picker input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 100%;
  border: none;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.pc-colour-picker input::-webkit-color-swatch {
  border-radius: 50%;
  border: 0.15rem solid var(--pirate-gold);
}

.pc-colour-picker input::-moz-color-swatch {
  border-radius: 50%;
  border: 0.15rem solid var(--pirate-gold);
}
.colourInfo h3 {
  font-size: 1rem;
  font-weight: 100;
}
.colourInfo,
.colour-picker-title {
  width: 100%;
  padding: 0.4rem 0.1rem;

  text-align: center;
}
.colour-picker-title {
  color: var(--pirate-txt);
  background: var(--pirate-blue);
}
.pc-colour-picker:hover.pc-colour-picker .colour-picker-title {
  filter: brightness(1.6);
}
.colourInfo {
  border-top: 1px solid #2b2b2b;
  padding-top: 0.6rem;
}
.selected-colour {
  font-size: 0.8rem;
  color: var(--pirate-gold);
  height: 100%;
  width: 100%;
}
.pc-sliders {
  display: flex;
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
.size-slider,
.opacity-slider {
  width: 100%;
}

.pc-advanced-controls {
  margin-top: 1rem;
}
.pc-wireframe,
.pc-other {
  display: flex;
  gap: 0.5rem;
  color: var(--pirate-txt);
}
.pc-wireframe {
  flex-direction: row;
}
.v-number {
  display: none;
}
input#vNumber {
  width: 3rem;
  background: #2f2f3b;
  padding-left: 0.3rem;
  border: none;
  outline: none;
  border-radius: 0.1rem;
  color: var(--pirate-gold);
}

input#vNumber:focus-visible,
input#vNumber:active,
input#vNumber:focus-visible {
  outline: 1px solid #ccc;
}
#wfCheckbox:checked + .v-number {
  display: flex;
}

input[type="range"] {
  width: 100%;
}
label {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: var(--pirate-txt);
}
.pc-note {
  color: var(--pirate-txt);
  font-weight: 100;
  font-size: 0.8rem;
  max-width: max-content;
  text-align: left;
  background: rgb(55 55 61 / 26%);
  border-radius: 0.2rem;
  padding: 0.6rem;
  padding-bottom: 0rem;
  & p {
    line-height: 1.3;
  }
  &:hover {
    color: #999;
  }
}
.credits {
  display: flex;
  color: var(--pirate-darker-txt);
  flex-direction: column;
  background: #16161e;
  letter-spacing: -0.3;
  font-size: 0.8rem;
}
a.version-link .version-num,
a.version-link {
  text-decoration: none;
}
a.version-link:hover .version-num {
  text-decoration: none !important;
  color: var(--pirate-gold) !important;
}
.version-num {
  display: inline-flex;
  margin-bottom: 0.15rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  background: var(--pirate-blue);
  color: var(--pirate-txt);
}
canvas {
  display: block;
}

@media only screen and (max-width: 800px) {
  .pirate-pannel {
    display: none;
  }
}

/* Customizes the scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pirate-gold);
}
