.wrapper {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 15%);
  backdrop-filter: blur(5px);
  overflow: hidden;
}
.hasStyle .wrapper {
  backdrop-filter: blur(0px);
}
.container-wrapper {
  display: flex;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border: 1rem solid rgb(22 22 30);
  height: calc(100dvh + -2rem);
  z-index: 2;
}
#container {
  width: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
#piratePanelWrapper {
  position: absolute;
  will-change: transform;
  width: 18%;
  min-width: 300px;
  max-width: 400px;
  overflow: hidden;
  z-index: 9;
  top: 10%;
  left: 10%;
  border-radius: 0.5rem;
  transform: scale(0.85);
  transform-origin: top left;
  box-shadow: 4px 10px 20px -4px rgb(0 0 0 / 57%);
}
#piratePanel {
  width: 100%;
  height: auto;
  will-change: transform;
  cursor: grab;
}
#piratePanel:active {
  cursor: grabbing;
}
/* Add this to the JS */

.scale-active {
  outline: 2px solid var(--pirate-gold);
}
.drag-active {
  background: rgb(22 22 30 / 88%) !important;
}
.drag-inactive {
  background: rgb(22 22 30 / 100%) !important;
}

#resizer {
  width: 2rem;
  height: 4rem;
  background-color: rgba(118, 118, 138, 0.23);
  position: absolute;
  bottom: -1.3rem;
  right: -1rem;
  cursor: nwse-resize;
  z-index: 9;
  rotate: 45deg;
  transform-origin: center;
}
#resizer:active {
  background: var(--pirate-gold);
}

.scale-active {
  cursor: none !important;
  user-select: none !important;
}
.no-drag {
  cursor: default;
}
#piratePanelWrapper {
  will-change: transform, top, left, background;
}
#resizer,
#piratePanel {
  will-change: transform;
}
.ARRRcontrols {
  display: flex;
  flex-direction: column;
  gap: clamp(0.4rem, 1.5dvh, 1.2rem);
  padding: 2rem;
  font-family: arial;
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  height: calc(100% - 2.2rem);
}
.ARRRcontrols > div:last-child {
  margin-top: auto;
}
.pc-app-logo-area {
  pointer-events: none;
  margin-bottom: clamp(0.5rem, 2.5dvh, 2.5rem);
}
.pc-app-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.7rem;
}
.pirate-img {
  max-width: 68%;
}
.pc-app-logo-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #16161e;
  background: #bb9645;
  height: 2.3rem;
  padding: 0.3rem 0.6rem 0.3rem 0.4rem;
  margin-left: 1rem;
  top: -0.1rem;
  font-family: roboto;
  font-weight: 300;
  font-size: 2.7rem;
  letter-spacing: -3px;
  border-radius: 0.2rem;
  transform: rotate(-30deg);
}
.pc-tagline {
  display: flex;
  font-size: 1rem;
  color: #857552;
  background: #1e1e26;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  border-radius: 0.2rem;
}

/* Theme-controls with transition */

.theme-controls {
  display: flex;
  flex-direction: column;
  gap: clamp(0.4rem, 1.5dvh, 1.2rem);
  padding:1px;
  max-height: 0rem;
  height: auto;
  opacity: 1;
  visibility: hidden;
  transform: translatex(-24rem);
  transition: max-height 0.5s .4s, min-height 0.5s .4s ease, scale 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.theme-controls.show {
  max-height: 26rem;
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translatex(0);
  overflow: hidden;
  transition: max-height 0.5s .1s ease, min-height 0.5s .4s ease, scale 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, transform 0.5s .4s ease;
}

/* Theme on/off */

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #6e6e6e;
}
.theme-switcher label {
  margin: 0;
}
.theme-switcher-txt {
  font-size: 1rem;
  line-height: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 0.7rem;
  background-color: #333;
  border-radius: 0.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #393a3f;
  transition: 0.4s;
  border-radius: 0.7rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  left: 0.1rem;
  bottom: 0;
  background-color: var(--pirate-gold);
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--pirate-blue);
}

input:checked + .slider:before {
  transform: translateX(2.3rem);
}

.pirateForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-family: arial;
}

#textInput {
  min-width: 9rem;
  width: 100%;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.4rem 0.4rem 1rem;
  border: none;
  outline: 1px solid #090909;
  background: rgb(198 198 255 / 6%);
  border-radius: 0.21em;
  color: var(--pirate-txt);
  font-size: 1rem;
}

.selection-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.35rem, 1dvh, 0.7rem);
  text-align: left;
  user-select: none;
}

.view-selection {
  padding: clamp(0.5rem, 1.6dvh, 2rem) 0.2rem;
  background: #24243a;
  color: #bb9645;
  border-radius: 0.2rem;
  box-shadow: var(--pirate-bs-1);
  background: var(--pirate-g-1);
  font-size: 0.8rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  &:hover {
    /*color: #24243a;
    background: #bb9645;*/
    outline: 1px solid var(--pirate-gold);
    cursor: pointer;
  }
}
.theme-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.default-theme-buttons {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
}
#blackTheme,
#goldTheme {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  &:hover {
    transform: scale(1.1);
  }
}
#goldTheme {
  background: var(--pirate-gold);
  border: 0.1rem solid #555;
}
#blackTheme {
  background: var(--pirate-blue);
  border: 0.1rem solid #bb9645;
}
.theme-actions {
  display: flex;
}
button#copy {
  padding: 0.2rem 0.4rem;
  background: #1e1e26;
  color: var(--pirate-txt);
  border: none;
  border-radius: 0.1rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #21212b;
  }
}

.all-colour-pickers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.pc-colour-picker {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background: rgb(34 34 47 / 44%);
  border-radius: 0.3rem;
  width: 100%;
  box-shadow: var(--pirate-bs-1);
  overflow: hidden;
}

.pc-colour-picker input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 100%;
  border: none;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.pc-colour-picker input::-webkit-color-swatch {
  border-radius: 50%;
  border: 0.15rem solid var(--pirate-gold);
}

.pc-colour-picker input::-moz-color-swatch {
  border-radius: 50%;
  border: 0.15rem solid var(--pirate-gold);
}
.colourInfo h3 {
  font-size: 1rem;
  font-weight: 100;
}
.colourInfo,
.colour-picker-title {
  width: 100%;
  padding: 0.4rem 0.1rem;
  text-align: center;
}
.colour-picker-title {
  color: #686877;
  background: var(--pirate-blue);
  font-size: 1rem;
}
.pc-colour-picker:hover.pc-colour-picker .colour-picker-title {
  filter: brightness(1.8);
}
.colourInfo {
  border-top: 1px solid #2b2b2b;
  padding-top: 0.6rem;
}
.selected-colour {
  font-size: 0.8rem;
  color: var(--pirate-gold);
  height: 100%;
  width: 100%;
}
.pc-sliders {
  display: flex;
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
.size-slider,
.opacity-slider {
  width: 100%;
}

.pc-advanced-controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.pc-wireframe,
.pc-other {
  display: flex;
  gap: 0.5rem;
  color: var(--pirate-txt);
}
.pc-wireframe {
  align-items: flex-start;
}
.v-number {
  display: none;
  align-items: baseline;
}
input#vNumber {
  width: 3.2rem;
  background: #2f2f3b;
  padding-left: 0.3rem;
  border: none;
  outline: none;
  border-radius: 0.1rem;
  color: var(--pirate-gold);
}
.v-number label {
  margin-right: 0.6rem !important;
}

input#vNumber:focus-visible,
input#vNumber:active,
input#vNumber:focus-visible {
  outline: 1px solid #ccc;
}
#wfCheckbox:checked + .v-number {
  display: flex;
}

input[type="range"] {
  width: 100%;
}
label {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: var(--pirate-txt);
}

.pc-note-box {
  display: none;
  flex-direction: column;
  gap: clamp(0.4rem, 1.5dvh, 1.2rem);
}
.pc-note-box h3 {
  margin-top: 0.5rem;
}
.pc-note {
  color: var(--pirate-txt);
  font-weight: 100;
  font-size: 0.8rem;
  max-width: max-content;
  text-align: left;
  background: rgb(55 55 61 / 26%);
  border-radius: 0.2rem;
  padding: 0.6rem;
  padding-bottom: 0rem;
  & p {
    line-height: 1.3;
  }
  &:hover {
    color: #999;
  }
}
.credits {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.6rem 1rem;
  padding-top: .8rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  width: auto;
  color: var(--pirate-darker-txt);
  background: #16161e;
  letter-spacing: -0.3;
  font-size: 0.8rem;
  border-radius: 0 0.3rem 0 0;
  transition: all 0.2s ease !important;
  & p {
    margin: 0;
  }
}
.credits a {
  transition: all 0.2s 0.2s ease !important;
}
.credits:hover {
  padding-bottom: 1.8rem;
  color: #616273;
  /*background: #444;*/
  transition: all 0.2s ease !important;
}
.credits:hover a, .credits:hover .version-num {
  color: var(--pirate-gold);
  transition: all 0.2s 0.2s ease !important;
}
.credits:hover #discordLogo {
filter: brightness(2);
}

a.version-link .version-num,
a.version-link {
  text-decoration: none;
}
a.version-link:hover .version-num {
  text-decoration: none !important;
  color: var(--pirate-gold) !important;
}
.version-num {
  display: inline-flex;
  margin-bottom: 0.15rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  background: var(--pirate-blue);
  color: var(--pirate-txt);
}

.angled-note {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.85rem;
  color: var(--pirate-gold);
  position: absolute;
  bottom: -3.1rem;
  left: calc(100% + 3.1rem);
  width: 18rem;
  height: 6rem;
  background: rgb(22, 22, 30);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0 100%;
  z-index: 1;
}
.angled-note-txt {
  position: relative;
  top: -0.65rem;
  transition-duration: 0s;
  &:hover {
    transition-duration: 0s;
  }
}
.angled-note:hover {
  background: var(--pirate-gold);
  color: rgb(22, 22, 30);
}
@media only screen and (max-width: 800px) {
  .pirate-panel {
    display: none;
  }
}

/* Customizes the scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pirate-gold);
}
